.BibleVersionSelect {
  width: 5em;
  line-height: 2em;
  padding-left: 0.5em;
  border: none;
  border-bottom: 1px lightgray solid;
  font-size: 150%;
  cursor: pointer;
}

.BibleVersionSelect_dropdown {
  z-index: 5;
  position: absolute;
  top: 2.5em;
  right: 5px;
  padding: 0;
  width: 70%;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 5px 34px 0 rgba(0, 0, 0, 0.2);
}
