.PassagesNavbar {
  display: flex;
  justify-content: space-around;
  height: 4.5rem;
  border-top: 1px solid lightgray;
  overflow-y: hidden;
}

.PassagesNavbar__item {
  box-sizing: border-box;
  height: 4.5rem;
  padding: 0.8rem 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #555;
  overflow-y: hidden;
}

.PassagesNavbar__item--active {
  font-weight: 800;
  border-bottom: 2px solid darkgray;
}

.PassagesNavbar__passage {
  font-size: 120%;
  margin-bottom: 0.2rem;
}

.PassagesNavbar__version {
  font-size: 100%;
}
