.ChapterAutocomplete {
  width: 100%;
}

.ChapterAutocomplete__input {
  line-height: 2em;
  width: 100%;
  padding-left: 0.5em;
  appearance: none;
  border: none;
  border-bottom: 1px lightgray solid;
  box-sizing: border-box;
}

.ChapterAutocomplete__list {
  width: 50%;
  float: left;
  padding: 0.5em 0;
  max-height: 400px;
  overflow-y: auto;
}

.ChapterAutocomplete__list-item {
  padding: 0 0.5em;
  white-space: nowrap;
}
.ChapterAutocomplete__list-item--hover,
.ChapterAutocomplete__list-item:hover {
  background-color: lightgray;
}
.ChapterAutocomplete__list-item--active {
  font-weight: bold;
}
