.PassageView {
  width: 45rem;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

.main.passages_3_columns .PassageView,
.main.passages_4_columns .PassageView,
.main.passages_5_columns .PassageView {
  width: 35rem;
}

.main.passages_many_columns .PassageView {
  width: 30rem;
}

.main.passages_3_columns .PassageView.add-passage,
.main.passages_4_columns .PassageView.add-passage,
.main.passages_5_columns .PassageView.add-passage,
.main.passages_many_columns .PassageView.add-passage,
.PassageView.add-passage {
  width: 4rem;
}

.PassageView__passage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  white-space: normal;
  background-color: white;
  box-shadow: inset 2px 0 2px #ddd, 5px 0 10px #ddd;
}

.PassageView:first-child .PassageView__passage {
  box-shadow: 0 0 20px 3px #ddd;
}

.PassageView__header {
  flex: 0 0 auto;
  position: relative;
  min-height: 18px;
}

.PassageView__verses {
  flex: 1 1 auto;
  overflow-y: auto;
  z-index: 1;
  height: 100%;
  font-size: 160%;
}

.PassageView__passage p {
  padding-left: 1.5rem;
  padding-right: 2.5rem;
  white-space: normal;
}

@media (max-width: 800px) {
  .PassageView {
    width: 100%;
    display: block;
  }
  .PassageView__passage {
    box-shadow: none;
  }
  .PassageView:first-child .PassageView__passage {
    box-shadow: none;
  }
  .PassageView.add-passage {
    display: none;
  }
}
