.ChapterSelect {
  width: 60%;
}

.ChapterSelect__input {
  line-height: 2em;
  width: 100%;
  padding-left: 0.5em;
  appearance: none;
  border: none;
  border-bottom: 1px lightgray solid;
  font-size: 150%;
}
