.PassageNavigation {
  position: relative;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: -1px;
  display: flex;
  justify-content: space-between;
}

.PassageNavigation_close-button {
  border: 0;
  border-radius: 0;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  font-size: 18px;
  color: #bbb;
}

.PassageNavigation_close-button:hover {
  color: #555;
}
.PassageNavigation_close-button:focus {
  color: #555;
  outline: 0;
}
