.PassageNavigation {
  display: flex;
  justify-content: space-between;
}

.PassageNavigation_close-button {
  border: 0;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
  font-size: 18px;
  color: #bbb;
}

.PassageNavigation_close-button:hover {
  color: #555;
}
.PassageNavigation_close-button:focus {
  color: #555;
  outline: 0;
}
